:root {
    --cell-side: 8vw;
    
}

body, html { 
  height: 100%; 
           } 

    body {
       /* only for visibility */
        background-color: lightgoldenrodyellow; 
       margin: 0;
           }
    
    .board {
        display: inline-block;
        margin-left: 16vw;
        margin-top: 31vh;
        width: calc(var (--cell-side) * 8);
        height: calc(var(--cell-side) * 8); 
            
    }

      .board-row {
       
       float: left; /* this function only for Block */
       /* delete spase between columns */
       
          }
  /* border in cell: delete spase between cells */
    .cell-black {
        display: block;
        width: var(--cell-side);
        height: var(--cell-side);
        background-color: black;
       border: solid 1px grey;
            }

    .cell-white {
        display: block;
        width: var(--cell-side);
        height: var(--cell-side);
        background-color: white;
        border: solid 1px grey; 
    }

    @media (min-width: 560px) {
        :root {
           
            --cell-side: 5vw;
        }
    body {
        max-height: 96vh;
    }
    .board {
        margin-left: 28vw;
        margin-top: 6vh;
                  
    }
    }
 
    @media (min-width: 900px) {
       /* this is trouble on big screen without deb. */
        body {
            height:98vh;
        }
        
        .board {
            margin-left: 29vw;
            margin-top: 13vh;
        }      
    }